.allPokemon {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  justify-items: center;
  gap: 1rem;
  padding: 1rem 2rem;

  --num-columns: 3;

  grid-template-columns: repeat(var(--num-columns), 1fr);

  @media (max-width: 1000px) {
    --num-columns: 3;
  }

  @media (max-width: 800px) {
    --num-columns: 2;
  }

  @media (max-width: 400px) {
    --num-columns: 1;
  }
}
